body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 70vh;
  max-height: 100vh;
  gap: 1rem;
  grid-auto-rows: 1fr; /* template columns, template rows 넘어가는 row의 크기 비율을 설정한다. */
  grid-auto-columns: 0.5fr;
  grid-auto-flow: column; /* grid가 정렬되는 flow 선언 */
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}
