body {
  display: flex;
  height: 100vh;
  flex-flow: row wrap; /* flex-flow: flex-direction + flex-wrap */
  /* gap: 10px; */
  row-gap: 20px;
  column-gap: 10px;
  align-items: center; /* cross-axis align */
  align-content: space-around; /* 여러 줄이 있을때 cross-axis에서 justify-content하는 것처럼 동작 */
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
